header{
    flex: auto;
    background-color: transparent;
    font-family:fantasy;
}
nav{
    text-align: top;
}

body{
    background: linear-gradient(#92bbed, #2234fa);
}
title{
    font-size:large;
}
image{
    width: 20px;
    height: 10px;
}
h1{
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid rgb(52, 37, 255);
    margin: 20px 0px;
}
section{
    background-color: #f8f9fa;
    padding: 15px;
    margin: 20px;
}

p{
    color: black;
}
